html,body {
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	margin:0 auto;
	background-image: url('https://github.com/harivdee/chameleonline.gr/blob/master/images/cham-pattern.png?raw=true');
	box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container{
	max-width: 1280px;
	margin: 0 auto;
}

header {
	background-color: #FFF;
	border-bottom: solid 3px;
	border-color: #006400;
}

main {
	background-color: #FFF;

}

nav ul {
	list-style: none;
	text-align: center;
	font-weight: 600;
	font-size: 22px;
	margin-top: 0px;
	margin-bottom: 5px;
	text-transform: uppercase;
	padding: 0;
	color: #006400;
}

nav ul li {
	display: inline-block;
	padding-left: 6%;
}

#whiteSpace {
	margin-left: 12%;
}


/*	header img */

#image-slides {
	text-align: center;
}


.chameleon-slides {
	width: 30%;
	height: auto;
	margin: 0 auto;
}

.Escape-Room{
	visibility: hidden;
	padding-left: 8%;
	padding-right: 0%;
}

h1 {
	margin-top: 0;
	padding-top: 5px;
	text-align: center;
	font-weight: 800;
	font-size: 82px;
	color: 	#FF8C00;
}

h2 {
	color: #FFF;
	text-align: center;
	margin:0 auto;
	letter-spacing: 3px;
	padding-bottom: 3px;
	border-bottom: solid 2px #FFF;
	font-size: 32px;
}

.illustration {
	width: 40%;
	background-color: #A9A9A9;
	float: left;
	align-items: stretch;
}

.gametype-section{
	width: 60%;
	float: left;
	padding-left: 3%;
	padding-right: 3%;
	text-align: left;
	align-items: stretch;
	box-sizing: border-box;
}

.strategy-games{
	background-color: #8FBC8F;
	width: 45%;
	height: 300px;
	display: flex;
	float: left;
	margin-bottom: 5%;
}

.party-games{
	background-color: #FA8072;
	width: 45%;
	height: 300px;
	display: flex;
	float: left;
	margin-bottom: 5%;
	margin-left: 10%;
}

.quick-games{
	background-color: #FF8C00;
	width: 45%;
	height: 300px;
	display: flex;
	float: left;
	margin-bottom: 5%;
}

.Two-player-games{
	background-color: #00CED1;
	width: 45%;
	height: 300px;
	display: flex;
	float: left;
	margin-bottom: 5%;
	margin-left: 10%;
	overflow: hidden;
}
.gametype-margin {
	padding-left: 5%;
	padding-right: 5%;
	border-bottom: solid 3px;
	border-color: #006400;
	padding-bottom: 5%;
}

footer{
	background-color: #00CED1;
	margin-top: 2%;
}

footer a {
	text-decoration: none;
}

.facebook-link {
	width: 6%;
	height: auto;
	position: relative;
	left: 45%;
	
}

.instagram-link {
	width: 4%;
	height: auto;
	position: relative;
	left: 45%;
	padding-bottom: 1%;
}


/*
.slick-prev, .slick-next {
	z-index: 10;
}/

.slick-prev {
	left: 25px;
}

.slick-prev:before {
	content: "<";
}

.slick-next {
	right: 25px;
}

.slick-next:before {
	content: ">";
}
*/
.top-container {
	padding: 30px 5px 25px 5px;

}

.home-slides {
	width: 738px;
	height: 450px;
}	

.home-page {
	text-align: left;
	margin: 0;
}

#home-slider {
	width: 738px;
	float: left;
}

.home-intro {
	background-color: #8FBC8F;
	padding: 10px;
	width: 95%;
	font-size: 22px;
	margin:0;
}

.home-hello{
	width: 40%;
	float: right;
}

.bottom-container {
	padding: 10px 10px 30px 10px;
}

.bottom-container h3{
	color: #FFF;
	font-size: 32px;
	letter-spacing: 3px;
	padding-bottom: 10px;
	border-bottom: solid 2px #FFF;
}

.home-address {
	padding:20px;
	width: 30%;
	height: 360px;
	float: left;
	background-color: #00CED1;
	font-size: 28px;
}

.store-hours {
	padding:20px;
	width: 30%;
	height: 360px;
	float: left;
	background-color: #FF8C00;
	margin-left: 20px;
	font-size: 28px;
}

.home-static{
	margin-left: 20px;
	padding-left: 50px;
	width: 30%;
	height: auto;
	float: left;
}

.static-img {
	width: auto;
	height: 360px;
	display: block;
	margin: auto;
}

.sub-menu {
  display: none;
  background-color: #fff;
  padding: 10px 0px 10px 10px;
  position: absolute;
  border: 1px solid #ccc;
  top: 25px;
  width: 100%;
  margin: 0;
  text-align: left;
}

.menu-item {
	position: relative;
}

.menu-item:hover .sub-menu {
  display: block;
}

.sub-menu li{
    list-style-type: none;
    margin: 0;
    padding: 5px;
    text-transform: none;
    font-size: 18px;
}

li a {
	text-decoration: none;
}

/* unvisited link */
a::link {
    color: red;
}

/* visited link */
a::visited {
    color: green;
}

/* mouse over link */
a::hover {
    color: hotpink;
}

/* selected link */
a::active {
    color: blue;
}

