.home-body{
	font-family: 'Give You Glory', cursive;
	margin: 0 auto;
	margin-left: 5%;
	margin-right: 5%;
}


.mainpage-style {
	background-image: url('https://github.com/harivdee/chameleonline.gr/blob/master/images/mainPage-background.png?raw=true');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
  position: relative;
  width: 100%;
  height: 100vh;
  min-width: 1369px;
	min-height: 1411px;
}

*, *:before, *:after {
  box-sizing: border-box;
}


.link {
  background-color: rgba(0, 0, 0, .25);
  height: 50px;
  width: 50px;
  z-index: 2;
  position: absolute;
  display: block;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*img {
	max-width: 100%;
	height: auto;
} */

#board-games {
  left: 13%;
  top: 14.5%;
  width: 13%;
  height: 10.5%;
}

#virtual-reality-room {
  left: 74%;
  top: 12.5%;
  width: 14%;
  height: 16%;

}

#video-games-room {
  width: 10%;
  left: 7%;
  top: 52%;
  height: 13%;
}


#wanna-play-icon {
  width: 47%;
  height: 10%;
  left: 26%;
  top: 83%;
}

#and-more-icon {
  width: 9.5%;
  left: 79%;
  top: 67%;
  height: 10%;
}

/*
	font-family: 'Fira Sans Extra Condensed', sans-serif;  
*/
